version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - kazkansouh

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    assignees:
      - kazkansouh
    groups:
      typescript-eslint:
        patterns: ["@typescript-eslint/*"]
    ignore:
      - dependency-name: "@types/node"
        versions: [ "25.x", "27.x", "29.x" ]
